@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  background-color: #121212;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  width: 100vw;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 20vw;
  height: 70vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 3px;
}
.row:nth-child(6){
  padding-bottom: 5px;
}

.letter {
  flex: 33%;
  height: 90%;
  border: 1px solid grey;
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'Merriweather', serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 30vw;
  height: 150px;
  margin-top: 25px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 3px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3px;
}

.key {
  width: 4rem;
  height: 2.5rem;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  background-color: grey;
  color: rgb(31, 29, 29);
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 4rem;
}
.size{
     height:2rem;
     width:4rem;
}
.size:hover{
  color: red;
}
#disabled {
  background-color: #313033de;
}

.newWord{
  width: 5rem;
  height: 2rem;
  box-shadow: 1px 2px 2px rgba(124,245,123);
  background-color: rgba(182, 112, 182,0.5);
  border-radius: 0.3rem;
  color: #fff;
  border:none;
}
@media  (max-width:900px) and (max-height:800px){
  .game{
    width:100vw;
    height:100vh;
  }
  .board{
    height:100vh;
    width:90%;
  }
  .keyboard{
    width:100%;
    height: calc(100vh-70vh);
  }
}